<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Features</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>

    <div class="container">
        <div class="jumbotron">
            <h1>TODO List App</h1>
            <h6>Software Engineer: Yoav Abu</h6>
            <h3>Features:</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">TODO app list task where you can add and remove tasks</li>
                <li class="list-group-item">An Api! click <a href="/api/doc">here for the doc</a></li>
                <li class="list-group-item">An 404 Error Page</li>
                <li class="list-group-item">An Admin Panel to manage all users and there tasks <a href="/admin/login">click here</a></li>
                <li class="list-group-item">Good looking Login And Sign Up Page</li>
                <li class="list-group-item">A Demo User To Work With Without Even Creating Account</li>
                <li class="list-group-item">You Can See The Date Of Creating Task (only on computer)</li>
                <li class="list-group-item">Logout Feature To Exit In Any Time The Session</li>
                <li class="list-group-item">Remember Me Feature</li>
                <li class="list-group-item">SQL Injection Prevention</li>
                <li class="list-group-item">Commented Code</li>
                <li class="list-group-item">Unit Test With Junit Also Have Been Added</li>
                <li class="list-group-item">All The Site Is Checked For Mobile Responsive</li>
            </ul>
        </div>
    </div>

    </body>
</html>