<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/dashboard/index.css" th:href="@{/dashboard/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        @media screen and (max-width: 600px) {
            .havingFunButton{
                visibility: hidden;
            }
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
            <form id="signupRedirect" action="/signup" method="get">
                <button type="submit" class="btn btn-success havingFunButton" form="signupRedirect" style="position: absolute; right: 70; top: 8px;">Having Fun? Click Here To Sign Up</button>
            </form>
            <form id="logout" action="/" method="get">
                <button name="logout" type="submit" class="btn btn-secondary" form="logout" style="position: absolute; right: 8; top: 8px;">Exit</button>
            </form>
        </div>
        <div class="scroll-area-sm">
            <perfect-scrollbar class="ps-show-limits">
                <div style="position: static;" class="ps ps--active-y">
                    <div class="ps-content">
                        <ul class="list-group list-group-flush" id="theList">

                        </ul>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="d-block text-right card-footer">
            <input type="text" class="form-control" placeholder="add task" aria-label="Username" aria-describedby="basic-addon1" id="addTask">
            <button class="btn btn-primary" onclick="addItemToList()">Add Task</button>
        </div>
    </div>
</div>
<script>
    var id = 1;

    function addItemToList() {
        let taskValue = document.getElementById("addTask").value;
        let theList = document.getElementById("theList");
        let str = '';
        str += '<li class="list-group-item" id="' + id + '">';
        str += '<div class="todo-indicator bg-primary"></div>';
        str += '<div class="widget-content p-0">';
        str += '<div class="widget-content-wrapper">';
        str += '<div class="widget-content-left mr-2">';
        str += '<p style="font-weight: 900;"></p>';
        str += '</div>';
        str += '<div class="widget-content-left flex2">';
        str += '<div class="widget-heading"><td>' + taskValue + '</td></div>';
        str += '</div>';
        str += '<div class="widget-content-right"> </button> <button class="border-0 btn-transition btn btn-outline-danger" onclick="removeItemFromList(' + id + ')"> <i class="fa fa-trash"></i> </button> </div>';
        str += '</div>';
        str += '</div>';
        str += '</li>';
        theList.innerHTML += str;
        id += 1;
    }

    function removeItemFromList(idOfDeletingLi) {
        var elem = document.getElementById(idOfDeletingLi);
        elem.parentNode.removeChild(elem);
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>